<!--[if lt IE 9]>
    <div class="browser-upgrade section section--white" style="padding-top:0;">
        <img src="http://images.response.vodafone.com/EloquaImages/clients/VodafoneGroupPLC/%7B9f032c89-61d5-4dfb-a3b8-03b87bd9d3f0%7D_vf-logo.png" alt="Vodafone logo" class="">
        <div class="spring spring--md">
            <h2 class="heading heading--light heading--2 heading--center">Upgrade your browser</h2>
            <p class="heading heading--4 heading--center">It's looks as though you're using an old version of Internet Explorer. To get the best experience, please upgrade your browser.</p>
            <div class="browser-upgrade__browsers align--center">
                <a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads" class="browser-upgrade__browser">
                    <img src="http://images.response.vodafone.com/EloquaImages/clients/VodafoneGroupPLC/%7B825fcb48-246f-4e56-80a7-814b2412f911%7D_logo_ie.png" alt="Vodafone logo" class="">
                    <p class="heading heading--5">Internet Explorer</p>
                </a>
                <a href="https://www.google.com/chrome/browser/desktop/" class="browser-upgrade__browser">
                    <img src="http://images.response.vodafone.com/EloquaImages/clients/VodafoneGroupPLC/%7B879694b2-cbcd-43ca-b4f9-a89cfdf32e3b%7D_logo_chrome.png" alt="Vodafone logo" class="">
                    <p class="heading heading--5">Chrome</p>
                </a>
                <a href="https://www.mozilla.org/en-US/firefox/new/" class="browser-upgrade__browser">
                    <img src="http://images.response.vodafone.com/EloquaImages/clients/VodafoneGroupPLC/%7B4d94d8a1-9a11-4bbd-bac2-e9d5cca94196%7D_logo_firefox.png" alt="Vodafone logo" class="">
                    <p class="heading heading--5">Firefox</p>
                </a>
            </div>
        </div>
    </div>
<![endif]-->
