<div data-js="_nudge, _cookiePolicy" data-is-open="true" class="nudge-slim">
    By using Vodafone.co.uk, you're consenting to the use of cookies in accordance with our
    <a href="https://www.vodafone.co.uk/privacy" class="link link--body link--dark" target="_blank">cookie policy</a>
    <a href="#" data-js="_cookie" data-cookies="cookie_policy=true" class="js-nudge-close nudge-slim__close">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  nudge-slim__icon">
            <use xlink:href="#icon-close"></use>
        </svg>
        <span class="visually-hidden">I accept that I have read and agreed to the terms set out in Vodafone.co.uk cookie policy.</span>
    </a>
</div>
