<div class="js-component-component component__component" data-component="footer">
    <footer>
        <div class="footer">
            <div class="footer__curtain">
                <div class="spring">
                    <div class="footer__navigation">
                        <h2 class="visually-hidden">Follow us</h2>
                        <div class="social no-gutter--sm-bottom" data-parent-subtype="Social" data-social-type="Footer">
                            <div class="grid">
                                <div class="grid__item grid__item--1/2 grid__item--sm-1/1">
                                    <ul class="list list--reset social__list">

                                        <li class="social__item">
                                            <a href="#mod_1508860364296" data-js="_dialog" aria-haspopup="true">
                                                    <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill">
                                                            <use xlink:href="#icon-social-twitter"/>
                                                    </svg>
                                                    <span class="visually-hidden">Twitter</span>
                                            </a>
                                        </li>

                                        <li class="social__item">
                                            <a href="#mod_1508860387671" data-js="_dialog" aria-haspopup="true">
                                                    <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill">
                                                            <use xlink:href="#icon-social-linkedin"/>
                                                    </svg>
                                                    <span class="visually-hidden">LinkedIn</span>
                                            </a>
                                        </li>

                                        <li class="social__item">
                                            <a href="#mod_1508860389447" data-js="_dialog" aria-haspopup="true">
                                                    <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill">
                                                            <use xlink:href="#icon-social-youtube"/>
                                                    </svg>
                                                    <span class="visually-hidden">YouTube</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="footer__aside">
                                <ul class="list list--reset no-gutter--md-bottom no-gutter--lg-bottom footer__contracts">
                                        <li class="list__item footer__contract footer__contract--first">
                                                <a target="_blank" href="https://www.vodafone.co.uk/terms-and-conditions/index.htm">Terms &amp; conditions</a>
                                        </li>
                                        <li class="list__item footer__contract">
                                                <a target="_blank" href="http://www.vodafone.co.uk/about-this-site/our-privacy-policy/index.htm">Privacy policy</a>
                                        </li>
                                        <li class="list__item footer__contract">
                                                <a target="_blank" href="https://www.vodafone.co.uk/business/sitemap">Site map</a>
                                        </li>
                                </ul>
                                <span class="footer__copyright">&copy; 2019 Vodafone Limited.<br>
                                    Registered office: Vodafone House, The Connection, Newbury, Berkshire RG14 2FN.<br>
                                    Registered in England No 1471587.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="visually-hidden" id="mod_1508860364296">
    <div class="spring spring--nestedx spring--md spring--sm">
        <div class="section section--gutter js-social-grid" data-parent-subtype="Social" data-social-type="Footer"
            data-social-name="Twitter">
            <h3 class="heading heading--3 heading--leading space--bottom">Twitter</h3>
            <ul class="grid hide--sm">
                <h2 class="visually-hidden">Twitter</h2>
                <li class="grid__item grid__item--sm-1/1 grid__item--1/2">

                    <a href="https://twitter.com/vodafonebiz" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-twitter" />
                        </svg>
                        Vodafone Business
                    </a>

                    <a href="https://twitter.com/VodafoneIoT" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-twitter" />
                        </svg>
                        Vodafone Internet of Things
                    </a>

                </li>
                <li class="grid__item grid__item--sm-1/1 grid__item--1/2">

                    <a href="https://twitter.com/vodafone_VCS" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-twitter" />
                        </svg>
                        Carrier Services
                    </a>

                </li>
            </ul>
            <div class="hide--md hide--lg grid">
                <div class="grid__item grid__item--sm-1/1">
                    <h2 class="visually-hidden">Twitter</h2>


                    <a href="https://twitter.com/vodafonebiz" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-twitter" />
                        </svg>
                        Vodafone Business
                    </a>


                    <a href="https://twitter.com/VodafoneIoT" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-twitter" />
                        </svg>
                        Vodafone Internet of Things
                    </a>


                    <a href="https://twitter.com/vodafone_VCS" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-twitter" />
                        </svg>
                        Carrier Services
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="visually-hidden" id="mod_1508860387671">
    <div class="spring spring--nestedx spring--md spring--sm">
        <div class="section section--gutter js-social-grid" data-parent-subtype="Social" data-social-type="Footer"
            data-social-name="LinkedIn">
            <h3 class="heading heading--3 heading--leading space--bottom">LinkedIn</h3>
            <ul class="grid hide--sm">
                <h2 class="visually-hidden">LinkedIn</h2>
                <li class="grid__item grid__item--sm-1/1 grid__item--1/2">

                    <a href="https://www.linkedin.com/company/vodafone-business/" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Business
                    </a>

                    <a href="https://uk.linkedin.com/company/vodafone-cloud-and-hosting-services?trk=rr_brands_carousel_name" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Cloud and Hosting
                    </a>

                    <a href="https://www.linkedin.com/company/5266474" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Internet of Things
                    </a>
                </li>
                <li class="grid__item grid__item--sm-1/1 grid__item--1/2">

                    <a href="https://www.linkedin.com/company/vodafone-carrier-services" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Carrier Services
                    </a>

                </li>
            </ul>
            <div class="hide--md hide--lg grid">
                <div class="grid__item grid__item--sm-1/1">
                    <h2 class="visually-hidden">LinkedIn</h2>

                    <a href="https://www.linkedin.com/company/vodafone-business/" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Business
                    </a>

                    <a href="https://uk.linkedin.com/company/vodafone-cloud-and-hosting-services?trk=rr_brands_carousel_name" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Cloud and Hosting
                    </a>

                    <a href="https://www.linkedin.com/company/5266474" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Internet of Things
                    </a>

                    <a href="https://www.linkedin.com/company/vodafone-carrier-services" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-linkedin" />
                        </svg>
                        Vodafone Carrier Services
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="visually-hidden" id="mod_1508860389447">
    <div class="spring spring--nestedx spring--md spring--sm">
        <div class="section section--gutter js-social-grid" data-parent-subtype="Social" data-social-type="Footer"
            data-social-name="YouTube">
            <h3 class="heading heading--3 heading--leading space--bottom">YouTube</h3>
            <ul class="grid hide--sm">
                <h2 class="visually-hidden">YouTube</h2>
                <li class="grid__item grid__item--sm-1/1 grid__item--1/2">

                    <a href="https://www.youtube.com/VodafoneBusinessChannel" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-youtube" />
                        </svg>
                        Vodafone Business
                    </a>

                    <a href="https://www.youtube.com/playlist?list=PL6253EF719F0738A8&feature=plcp%3Fvgelt%3Dfooter%7Cyoutube" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-youtube" />
                        </svg>
                        Vodafone Internet of Things
                    </a>

                </li>
            </ul>
            <div class="hide--md hide--lg grid">
                <div class="grid__item grid__item--sm-1/1">
                    <h2 class="visually-hidden">YouTube</h2>

                    <a href="https://www.youtube.com/VodafoneBusinessChannel" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-youtube" />
                        </svg>
                        Vodafone Business
                    </a>

                    <a href="https://www.youtube.com/playlist?list=PL6253EF719F0738A8&feature=plcp%3Fvgelt%3Dfooter%7Cyoutube" class="heading heading--light heading--4">
                        <svg focusable="false" aria-hidden="true" class="icon icon--medium icon--fill gutter--right">
                            <use xlink:href="#icon-social-youtube" />
                        </svg>
                        Vodafone Internet of Things
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
