<div data-vue-partial>
    <vf-help-menu
        label="Need help?"
        title="We're here to help"
        v-bind:links="[
            {
                title: 'Call us',
                icon: 'call',
                url: 'tel:+448080057333'
            }
        ]"
    >
        <p>If you're an existing customer please call +44&nbsp;(0)8080&nbsp;057333.</p>
    </vf-help-menu>
</div>
