.button__neutral,
.button,
button,
input[type=button],
.toggle_buttons--button {
    float: none;
    outline:none;
    display: inline-block;
    cursor: pointer;
    color: #585858;
    font-weight: 400;
    text-shadow: 0 1px 0 #fefefe;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #c4c4c4;
    background: #f4f4f4;
    box-shadow: inset 0 1px 0 0 #fff, 0 2px 2px 0 rgba(147,147,147,.1);
    border-radius: 3px;
    padding: 6px 12px;
    background-clip: padding-box;
    user-select: none;
}

.button:focus,
.button:hover,
.toggle_buttons--button:hover {
    color: #313131;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    border-color: #a7a7a7;
    background-color: #fdfdfd;
    box-shadow: inset 0 1px 0 0 #fff, 0 2px 3px 0 rgba(147,147,147,.3);
}

.button.active,
.button.is-active,
.button.inactive,
.button:active,
.toggle_buttons--button:active  {
    color: #313131;
    outline:none;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    border-color: #9d9d9d;
    background-color: #ddd;
    box-shadow: inset 0 2px 6px -1px rgba(45,45,45,.4);
}

.button__neutral.is-disabled,
.button__neutral:disabled,
button.is-disabled,
button:disabled,
input.is-disabled[type=button],
input[type=button]:disabled {
    font-weight: 400!important;
    opacity: .5!important;
    cursor: not-allowed;
    box-shadow: none!important;
    text-shadow: 0 1px 0 #fefefe!important;
    color: #585858!important;
    background: #f4f4f4!important;
    border: 1px solid #c4c4c4!important;
}

.button__emphasis {
    font-weight: 400;
    text-shadow: 0 -1px 0 #5e971b;
    text-decoration: none;
    border: 1px solid #5e971b;
    display: inline-block;
    border-radius: 3px;
    background: #76bd22;
    color: #fff;
    box-shadow: inset 0 1px 0 0 #b6dc89, 0 2px 2px 0 rgba(71,113,20,.1);
    &:hover {
        color:#fff;
        text-shadow: 0 -1px 0 #65a21d;
        border-color: #508017;
        background-color: #7eca24;
        box-shadow: inset 0 1px 0 0 #c6e4a4, 0 2px 3px 0 rgba(71,113,20,.3);
    }
}

.button__primary {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    text-shadow: 0 -1px 0 #004d66;
    text-decoration: none;
    border: 1px solid #004d66;
    background: #006080;
    box-shadow: inset 0 1px 0 0 #488da4, 0 2px 2px 0 rgba(0,58,77,.1);
    &:hover,
    &:focus {
        color: #fff;
        font-weight: 400;
        text-shadow: 0 -1px 0 #005673;
        text-decoration: none;
        border-color: #004157;
        background-color: #006b8f;
        box-shadow: inset 0 1px 0 0 #66a0b3, 0 2px 3px 0 rgba(0,58,77,.3);
    }
    &:active,
    &.is-active {
        color: #fff;
        font-weight: 400;
        text-shadow: none;
        text-decoration: none;
        border-color: #003e52;
        background-color: #005673;
        box-shadow: inset 0 2px 6px -1px rgba(45,45,45,.4);
    }
}

.button__neutral {
    color: #585858;
    font-weight: 400;
    text-shadow: 0 1px 0 #fefefe;
    text-decoration: none;
    border: 1px solid #c4c4c4;
    background: #f5f5f5;
    box-shadow: inset 0 1px 0 0 #fff, 0 2px 2px 0 rgba(147,147,147,.1);
}

.button__inset {
    color: #5f5f5f;
    font-weight: 400;
    background: 0 0;
    border: 1px solid #c4c4c4;
    text-shadow: 0 1px 0 #fefefe;
    text-decoration: none;
    box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
}

.button__full_width {
    display: block;
}

.toolbar--item {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.button__small {
    font-size: 12px;
    line-height: 1.6em;
    padding: 4px 8px;
    height: 28px;
    box-sizing: border-box;
    &.toolbar--item {
        font-size: 12px;
        line-height: 19px;
    }
}

.button__large {
    line-height: 1.6em;
    padding: 8px 16px;
    font-size: 16px;
}
.button__medium {
    font-size: 14px;
    line-height: 1.6em;
    padding: 6px 12px;
}

.toggle_buttons--button {
    border-radius: 0;
    margin-left: -1px;
    &:first-child {
        border-radius: 3px 0 0 3px;
    }
    &:last-child {
        border-radius: 0 3px 3px 0;
    }
    &.active {
        position: relative;
    }
}

.button__square_small {
    font-size: 13px;
    line-height: 1.6em;
    padding: 4px 0 2px 0;
    width: 28px;
}

.toolbar__small .toolbar--item~.toolbar--item {
    margin-left: 10px;
}

.toolbar--item~.toolbar--item {
    margin-left: 10px;
}

.selector__button {
    display: inline-block;
    text-align: left;
}

.slick-dots {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        &.slick-active button {
            background: #000;
            opacity: .75;
        }
        button {
            border: 0;
            background: #000;
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            padding: 5px;
            outline: 0;
            font-size: 0;
            color: transparent;
            cursor: pointer;
            opacity: .25;
        }
    }
}
