{% macro footer(title, image) %}
<footer>
    <div class="footer">
        <div class="footer__curtain">
            <div class="spring">
                <div class="footer__navigation">
                    <h2 class="visually-hidden">Follow us</h2>
                    <!-- START: "group/components/social/index" Array
(
[journey] => anonymous
)
-->
                    <div class="social no-gutter--sm-bottom">
                        <div class="grid">
                            <div class="grid__item grid__item--1/2 grid__item--sm-1/1">
                                <ul class="list list--reset social__list">
                                    <li class="social__item">
                                        <a href="https://www.facebook.com/vodafoneUK">
                                            <svg focusable="false" aria-hidden="true" class="icon  icon--medium  icon--fill">
                                                <use xlink:href="#icon-social-facebook"/>
                                            </svg>
                                            <span class="visually-hidden">Facebook</span>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://www.twitter.com/VodafoneUK">
                                            <svg focusable="false" aria-hidden="true" class="icon  icon--medium  icon--fill">
                                                <use xlink:href="#icon-social-twitter"/>
                                            </svg>
                                            <span class="visually-hidden">Twitter</span>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://www.youtube.com/user/VODAFONEUK">
                                            <svg focusable="false" aria-hidden="true" class="icon  icon--medium  icon--fill">
                                                <use xlink:href="#icon-social-youtube"/>
                                            </svg>
                                            <span class="visually-hidden">Youtube</span>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a href="https://plus.google.com/106666909728303116094">
                                            <svg focusable="false" aria-hidden="true" class="icon  icon--medium  icon--fill">
                                                <use xlink:href="#icon-social-google-plus"/>
                                            </svg>
                                            <span class="visually-hidden">Google Plus</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="grid__item grid__item--1/2 grid__item--sm-1/1">
                                <a href="#" class="heading heading--4 social__community">
                                    <span class="social__community-text">Ask our community</span>
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--medium  icon--thin">
                                        <use xlink:href="#icon-community"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- END: "group/components/social/index" -->
                    <h2 class="visually-hidden">Site map</h2>
                    <div class="hide--sm hide--md">
                        <!-- START: "group/components/footer/adaptations/list" Array
(
[journey] => anonymous
)
-->
                        <ul class="grid">
                            <li class="grid__item grid__item--1/3">
                                <a href="#" class="heading heading--light heading--4">About Vodafone</a>
                                <!-- START: "group/components/footer/content/about-vodafone" Array
                        (
                            [journey] => anonymous
                        )
                         -->
                                <ul class="list list--reset footer__list">
                                    <li class="list__item footer__item no-gutter--top">
                                        <a href="#">About us</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Careers</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">News &amp; press releases</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Keeping children safe</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Accessibility</a>
                                    </li>
                                </ul>
                                <!-- END: "group/components/footer/content/about-vodafone" -->
                            </li>
                            <li class="grid__item grid__item--1/3">
                                <a href="http://localhost:8002/help-and-support" class="heading heading--light heading--4">Help</a>
                                <!-- START: "group/components/footer/content/help" Array
                        (
                            [journey] => anonymous
                        )
                         -->
                                <ul class="list list--reset footer__list">
                                    <li class="list__item footer__item no-gutter--top">
                                        <a href="#">Lost or stolen phone</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Internet security advice</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Ask our Community</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Help with devices</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">FAQs</a>
                                    </li>
                                </ul>
                                <!-- END: "group/components/footer/content/help" -->
                            </li>
                            <li class="grid__item grid__item--1/3">
                                <a href="#" class="heading heading--light heading--4">Most popular products</a>
                                <!-- START: "group/components/footer/content/most-popular-products" Array
                        (
                            [journey] => anonymous
                        )
                         -->
                                <ul class="list list--reset footer__list">
                                    <li class="list__item footer__item no-gutter--top">
                                        <a href="http://localhost:8002/shop/devices">Phones</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="http://localhost:8002/broadband">Broadband</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Home phone</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Vodafone TV</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Internet of Everything</a>
                                    </li>
                                </ul>
                                <!-- END: "group/components/footer/content/most-popular-products" -->
                            </li>
                            <li class="grid__item grid__item--middle grid__item--1/3">
                                <a href="http://localhost:8002/contact-us" class="heading heading--light heading--4">Contact Us</a>
                            </li>
                            <li class="grid__item grid__item--middle grid__item--1/3">
                                <a href="#" class="heading heading--light heading--4">Find a store</a>
                            </li>
                            <li class="grid__item grid__item--middle grid__item--1/3">
                                <a href="http://localhost:8002/business" class="heading heading--light heading--4 link link--dark">
            <span class="chevron  chevron--inline ">
    <span class="chevron__text ">Switch to Business</span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--extra-small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-right"/>
</svg>
    </span>
</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END: "group/components/footer/adaptations/list" -->
                    </div>
                    <div class="hide--lg">
                        <!-- START: "group/components/footer/adaptations/accordion" Array
(
[journey] => anonymous
)
-->
                        <!-- START: "group/directives/accordion/adaptations/$adaptation" Array
                        (
                            [adaptation] => footer
                        )
                         -->
                        <div class="js-accordion footer-accordion" data-js="_accordion" data-selectors="down=footer-accordion__chevron--down&amp;active=footer-accordion__heading--active&amp;expanded=footer-accordion__content--expanded">
                            <div class="js-accordion-item footer-accordion__item">
                                <h3 class="js-accordion-heading footer-accordion__heading  footer-accordion__heading--active ">
            <span class="chevron">
                <span class="chevron__text">About Vodafone</span>
                <span class="chevron__container accordion__chevron">
                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                </span>
            </span>
                                </h3>
                                <div class="js-accordion-content footer-accordion__content   footer-accordion__content--collapse "><ul class="list list--reset footer__list">
                                    <li class="list__item footer__item no-gutter--top">
                                        <a href="#">About us</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Careers</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">News &amp; press releases</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Keeping children safe</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Accessibility</a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <div class="js-accordion-item footer-accordion__item">
                                <h3 class="js-accordion-heading footer-accordion__heading  footer-accordion__heading--active ">
            <span class="chevron">
                <span class="chevron__text">Help and support</span>
                <span class="chevron__container accordion__chevron">
                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                </span>
            </span>
                                </h3>
                                <div class="js-accordion-content footer-accordion__content   footer-accordion__content--collapse "><ul class="list list--reset footer__list">
                                    <li class="list__item footer__item no-gutter--top">
                                        <a href="#">Lost or stolen phone</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Internet security advice</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Ask our Community</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Help with devices</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">FAQs</a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <div class="js-accordion-item footer-accordion__item">
                                <h3 class="js-accordion-heading footer-accordion__heading  footer-accordion__heading--active ">
            <span class="chevron">
                <span class="chevron__text">Most popular products</span>
                <span class="chevron__container accordion__chevron">
                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                </span>
            </span>
                                </h3>
                                <div class="js-accordion-content footer-accordion__content   footer-accordion__content--collapse "><ul class="list list--reset footer__list">
                                    <li class="list__item footer__item no-gutter--top">
                                        <a href="http://localhost:8002/shop/devices">Phones</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="http://localhost:8002/broadband">Broadband</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Home phone</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Vodafone TV</a>
                                    </li>
                                    <li class="list__item footer__item">
                                        <a href="#">Internet of Everything</a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END: "group/directives/accordion/adaptations/$adaptation" -->
                        <ul class="list list--reset">
                            <li>
                                <a href="http://localhost:8002/contact-us" class="footer__heading">
            <span class="chevron ">
    <span class="chevron__text ">Contact us</span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-right"/>
</svg>
    </span>
</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8002/contact-us" class="footer__heading">
            <span class="chevron ">
    <span class="chevron__text ">Find a store</span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-right"/>
</svg>
    </span>
</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8002/business" class="footer__heading footer__heading--last hide--sm">
            <span class="chevron ">
    <span class="chevron__text ">Switch to business site</span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--white">
    <use xlink:href="#icon-chevron-right"/>
</svg>
    </span>
</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END: "group/components/footer/adaptations/accordion" -->
                    </div>
                    <div class="footer__aside">
                        <ul class="list list--reset no-gutter--md-bottom no-gutter--lg-bottom footer__contracts">
                            <li class="list__item footer__contract footer__contract--first">
                                <a href="#">Site map</a>
                            </li>
                            <li class="list__item footer__contract">
                                <a href="#">Terms &amp; conditions</a>
                            </li>
                            <li class="list__item footer__contract">
                                <a href="#">Privacy policy</a>
                            </li>
                        </ul>
                        <span class="footer__copyright">&#xA9; 2016 Vodafone Group</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toaster toaster--min-padding toaster--sinking toaster--show" style="position: relative" id="toaster-added">
        <div class="spring">
            <div class="grid grid--gutter">
                <div class="grid__item grid__item--gutter grid__item--middle grid__item--md-1/1 grid__item--1/2 hide--sm align--center">
                    <div class="grid hide--sm">
                        <div class="grid__item grid__item--gutter grid__item--middle grid__item--md-1/1 grid__item--3/11 hide--sm align--left">
                            <img src="{{ image }}" alt="{{ title }}">
                        </div>
                        <div class="grid__item grid__item--gutter grid__item--md-1/1 grid__item--8/11 hide--sm align--left">
                            <h4 class="heading heading--4 heading-nomargin">
                                {{ title }}
                            </h4>
                            <p>
                                Successfully added to your basket
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--gutter grid__item--1/2 align--right grid__item--middle">

                    <div class="button button--primary  button--primary--dark grid__item--1/2 grid__item--sm-1/2  no-gutter--all" id="toaster-viewcart" style="float: left;">
                        View cart
                    </div>
                    <div class="button button--secondary no-gutter--bottom grid__item--1/2 grid__item--sm-1/2  no-gutter--all button--purple" id="toaster-continueshopping">
                        Continue shopping
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script>
    function refreshCartIcon() {
        var drophistory = JSON.parse(localStorage.getItem("basket")) || [];

        if (drophistory.length < 1) {
            $('#cart-on-header').addClass('hide');
        } else {
            $('#cart-on-header').text(drophistory.length);
        }
    }

    $("#toaster-viewcart").on("click", function(){
        window.location.href = '/en-GB/pages/checkout'
    });

    $("#toaster-continueshopping").on("click", function(){
        refreshCartIcon();
        $('#cart-on-header').removeClass('hide');
        $( "#toaster-added" ).removeClass( "show-toaster" );
    });
</script>

{% endmacro %}
