{% extends "/layout/profile.html" %}

{% macro productSummary(application) %}
<div class="container">
    <div class="row align-items-center product-summary">
        <div class="col-12 col-lg-8 d-flex align-items-start mb-3 mb-lg-0">
            <div class="mr-3">
                <img src="{{application.summary.logoSrc}}"/>
            </div>
            <div>
                <h4 class="heading heading--4 heading--regular mt-0 mb-1 product-summary-title text-left">
                    {{application.summary.title}}
                </h4>
                <div class="body-text product-summary-detail text-left">
                    {{application.summary.details}}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center">
            <a href="#Editions" role="button" class="button button--primary--white button--wide"
               {% if application.callToActions.items[0].actionType == "LEAD_GEN" %}
                    data-toggle="modal"
                    data-target="#leadModal"
               {% endif %}
            >
            {% if application.callToActions.items[0].actionType == "LEAD_GEN" %}
            Call me Back
            {% else %}
            {{application.domains.i18n.buyNow}}
            {% endif %}

            </a>

        </div>
    </div>
</div>

{% endmacro %}
