<div class="side-toggle side-toggle--viewport-height-fix" data-js="_sideToggle">
    <button class="side-toggle__button js-side-toggle-button">
        <div class="heading heading--4 no-gutter--all side-toggle__tab-text">
            Need <strong>help</strong> buying?
        </div>
    </button>
    <div class="js-side-toggle-content side-toggle__content">
        <span class="heading heading--3 heading--leading gutter--bottom">We're here to help you find the best deal</span>
        <div class="grid">
            <div class="grid__item grid__item--align-center grid__item--1/3">
                <a href="#" class="side-toggle__link" data-stamp="chat-to-us"  data-is-light="true">
                    <div class="side-toggle__icon-circle">
                    </div>
                    <span class="side-toggle__detail">Chat to us</span>
                </a>
            </div>
            <div class="grid__item grid__item--align-center grid__item--1/3">
                <a href="#" class="side-toggle__link" data-stamp="call-us"  data-is-light="true">
                    <div class="side-toggle__icon-circle">
                    </div>
                    <span class="side-toggle__detail">Call us</span>
                </a>
            </div>
            <div class="grid__item grid__item--align-center grid__item--1/3">
                <a href="#" class="side-toggle__link" data-stamp="call-back"  data-is-light="true">
                    <div class="side-toggle__icon-circle">
                    </div>
                    <span class="side-toggle__detail">Call me back</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $('.side-toggle').sideToggle();
</script>

