{% from "/macros/more/more.html" import more %}

{% macro listingItemsGrid(listing) %}
<div class="listing-items-grid flex-wrap">
    {% for app in listing.items %}
    <div class="grid-item-card-container d-flex col-12 col-lg-4">
        <div data-id="{{ app.id }}" data-component="ListingGridTile"
             class="col-12 d-flex align-items-center list-item-card flex-wrap">
            <div class="col-12 pl-0 pr-0 d-flex item-card-header">
                <div class="col-3 p-0 d-flex align-items-center">
                    <img aria-label="{{app.name}}" class="id--sliderimg" alt=""
                         src="{{ app.profileLogoUrl }}">
                </div>
                <div class="col-9 pr-0">
                    <h4 class="heading heading--4 heading--regular mt-0 mb-0 listing-title">{{app.name}}</h4>
                </div>
            </div>
            <div class="col-12 pl-0 pr-0 mb-1">
                <div class="body-text listing-description mb-2" title="{{app.description}}">
                    {{app.description}}
                </div>
                <div class="col-12 p-0 text-right">
                    {{more(app.url, listingProducts.i18n.learnMore)}}
                </div>
            </div>
            <div class="col-12 pl-0 pr-0 d-flex align-items-end align-items-lg-center">
                <div class="col-6 p-0">
                    <div class="body-text heading--light listing-started-at">
                        {{listingProducts.i18n.startingAt}}
                    </div>
                    <div class="heading--bold heading--3 m-0 listing-formatted-price">
                        {{app.startingPrice.formattedPrice}}
                    </div>
                    {% if app.startingPrice.frequency.label %}
                    <div class="body-text listing-frequency-label heading--light mb-2">
                        /{{app.startingPrice.frequency.label}}
                    </div>
                    {% endif %}
                </div>
                <div class="col-6 p-0 text-right">
                    <a href="{{app.url}}" role="button" class="button button--primary mb-0">
                        {{t(i18n.custom.listing.buy_now)}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}
