{% macro header() %}
<nav class="header" data-js="_language">
    <div class="js-navigation-language navigation">
        <div class="spring">
            <ul class="navigation__list navigation__global navigation__hide no-gutter--all">
                <li class="navigation__spring">
                    <!--<ul class="js-navigation navigation navigation__list navigation__global&#45;&#45;type">-->
                        <!--<li class="js-navigation-item navigation__item hide&#45;&#45;md hide&#45;&#45;sm">-->
                            <!--<a href="#" class="js-navigation-link navigation__link navigation__link&#45;&#45;slim navigation__site navigation__site&#45;&#45;active">Personal</a>-->
                        <!--</li>-->
                        <!--<li class="js-navigation-item navigation__item hide&#45;&#45;md hide&#45;&#45;sm">-->
                            <!--<a href="http://localhost:8002/business" class="js-navigation-link navigation__link navigation__link&#45;&#45;slim navigation__site">Business</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <ul class="js-navigation navigation navigation__list navigation__global--language">
                        <li class="js-navigation-item navigation__item navigation__item--right hide--md hide--sm">
                            <!-- START: "group/components/header/content/language" Array
(
[journey] => anonymous
)
-->
                            <div class="js-language language">
                                <a href="#" class="js-language-current language__current">
                                    <span class="visually-hidden">menu</span>
                                    <span class="js-language-chosen language__chosen">English</span>
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  js-location-icon-down language__icon language__icon--down">
                                        <use xlink:href="#icon-chevron-down"/>
                                    </svg>
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  js-location-icon-up language__icon language__icon--up">
                                        <use xlink:href="#icon-chevron-up"/>
                                    </svg>
                                </a>
                                <ul class="js-language-options language__options">
                                    <li class="language__item">
                                        <a href="?language=English" class="js-language-option language__option">
                                            <span class="visually-hidden">menu item</span>
                                            <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                            English
                                        </a>
                                    </li>
                                    <li class="language__item">
                                        <a href="?language=Deutsch" class="js-language-option language__option">
                                            <span class="visually-hidden">menu item</span>
                                            <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                            Deutsch
                                        </a>
                                    </li>
                                    <li class="language__item">
                                        <a href="?language=Italiano" class="js-language-option language__option">
                                            <span class="visually-hidden">menu item</span>
                                            <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                            Italiano
                                        </a>
                                    </li>
                                    <li class="language__item">
                                        <a href="?language=Espa&#xF1;ol" class="js-language-option language__option">
                                            <span class="visually-hidden">menu item</span>
                                            <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                            Espa&#xF1;ol
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END: "group/components/header/content/language" -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="js-navigation-static navigation-static">&#xA0;</div>
    <div class="js-navigation navigation navigation--primary component__icon-background" data-js="_navigation">
        <div class="spring">
            <ul class="navigation__list navigation__spring navigation__hide" role="navigation">
                <li class="navigation__item">
                    <!-- START: "group/components/brand/index" Array
(
[journey] => anonymous
)
-->
                    <a href="http://localhost:8002/welcome" class="js-brand brand">
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  brand__logo">
                            <use xlink:href="#icon-vodafone-logo"/>
                        </svg>
                    </a>
                    <!-- END: "group/components/brand/index" -->
                </li>
                <!-- START: "group/components/header/adaptations/list" Array
(
[journey] => anonymous
)
-->
                <li class="js-navigation-item navigation__item hide--sm hide--md">

                    <a href="/shop" class="js-navigation-link navigation__link navigation__link--main">Shop<span class="visually-hidden">menu</span></a>



                    <div class="js-navigation navigation navigation--secondary">
                        <div class="navigation__spring navigation__spring--primary">
                            <ul class="navigation__list navigation__content navigation__content--secondary">
                                <li class="navigation__item navigation__item--go-to">
                                    <a href="/shop" class="navigation__link">Go to Shop</a>
                                </li>

                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="#" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">Build a bundle<span class="visually-hidden">menu item</span></a>


                                    <div class="js-navigation navigation navigation--secondary-sub">
                                        <ul class="navigation__content">

                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="#" class="js-navigation-link navigation__link">Vodafone ONE+</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/converged" class="js-navigation-link navigation__link">Vodafone ONE</a>

                                            </li>

                                        </ul>
                                    </div>
                                </li>


                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="/broadband-tv" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">TV &amp; Broadband<span class="visually-hidden">menu item</span></a>


                                    <div class="js-navigation navigation navigation--secondary-sub">
                                        <ul class="navigation__content">

                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/broadband-tv" class="js-navigation-link navigation__link">TV &amp; Broadband</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/broadband" class="js-navigation-link navigation__link">Broadband only</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="#" class="js-navigation-link navigation__link">Broadband &amp; Homephone</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/network" class="js-navigation-link navigation__link">Coverage checker</a>

                                            </li>

                                        </ul>
                                    </div>
                                </li>


                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="#" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">Mobile<span class="visually-hidden">menu item</span></a>


                                    <div class="js-navigation navigation navigation--secondary-sub">
                                        <ul class="navigation__content">

                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/shop/devices" class="js-navigation-link navigation__link">Phones</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/shop/plans" class="js-navigation-link navigation__link">Plans &amp; SIMS</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/network" class="js-navigation-link navigation__link">Coverage checker</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="/vodafone-pass" class="js-navigation-link navigation__link">Vodafone pass</a>

                                            </li>

                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </li>


                <li class="js-navigation-item navigation__item hide--sm hide--md">

                    <a href="/help-and-support" class="js-navigation-link navigation__link navigation__link--main">Help<span class="visually-hidden">menu</span></a>



                    <div class="js-navigation navigation navigation--secondary">
                        <div class="navigation__spring navigation__spring--primary">
                            <ul class="navigation__list navigation__content navigation__content--secondary">
                                <li class="navigation__item navigation__item--go-to">
                                    <a href="/help-and-support" class="navigation__link">Go to Help</a>
                                </li>

                                <li class="js-navigation-item navigation__item ">

                                    <a href="#" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">TV &amp; Broadband<span class="visually-hidden">menu item</span></a>


                                </li>


                                <li class="js-navigation-item navigation__item ">

                                    <a href="#" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">Mobile<span class="visually-hidden">menu item</span></a>


                                </li>


                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="#" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">Bills &amp; accounts<span class="visually-hidden">menu item</span></a>


                                    <div class="js-navigation navigation navigation--secondary-sub">
                                        <ul class="navigation__content">

                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="#" class="js-navigation-link navigation__link">My Vodafone</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="#" class="js-navigation-link navigation__link">Usage control</a>

                                            </li>


                                            <li class="js-navigation-item navigation__item navigation__item--secondary-sub  navigation__item--parent ">


                                                <a href="#" class="js-navigation-link navigation__link">Bills &amp; payments</a>

                                            </li>

                                        </ul>
                                    </div>
                                </li>


                                <li class="js-navigation-item navigation__item ">

                                    <a href="/contact-us" class="js-navigation-link js-sub-navigation-link navigation__link navigation__link--main-secondary" aria-haspopup="true">Contact us<span class="visually-hidden">menu item</span></a>


                                </li>

                            </ul>
                        </div>
                    </div>

                </li>


                <li class="js-navigation-item navigation__item hide--sm hide--md">

                    <a href="http://localhost:8002/login-register?redirect=/dashboard/passes" class="js-navigation-link navigation__link navigation__link--main" data-stamp="login-snack" data-js="_dialog">My Vodafone<span class="visually-hidden">menu</span></a>



                    <div class="js-navigation navigation navigation--secondary">
                        <div class="navigation__spring navigation__spring--primary">
                            <ul class="navigation__list navigation__content navigation__content--secondary">
                                <li class="navigation__item navigation__item--go-to">
                                    <a href="/dashboard/passes" class="navigation__link">Go to My Vodafone</a>
                                </li>

                                <li class="js-navigation-item navigation__item ">

                                    <a href="http://localhost:8002/login-register?redirect=/bills" class="js-navigation-link navigation__link navigation__link--main-secondary" data-stamp="login-snack" data-js="_dialog" aria-haspopup="true">Usage &amp; bills<span class="visually-hidden">menu item</span></a>


                                </li>


                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="http://localhost:8002/login-register?redirect=/products-and-services" class="js-navigation-link navigation__link navigation__link--main-secondary" data-stamp="login-snack" data-js="_dialog" aria-haspopup="true">Products &amp; services<span class="visually-hidden">menu item</span></a>


                                </li>


                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="http://localhost:8002/login-register?redirect=#" class="js-navigation-link navigation__link navigation__link--main-secondary" data-stamp="login-snack" data-js="_dialog" aria-haspopup="true">Devices<span class="visually-hidden">menu item</span></a>


                                </li>


                                <li class="js-navigation-item navigation__item  navigation__item--parent ">

                                    <a href="http://localhost:8002/login-register?redirect=#" class="js-navigation-link navigation__link navigation__link--main-secondary" data-stamp="login-snack" data-js="_dialog" aria-haspopup="true">Buy<span class="visually-hidden">menu item</span></a>


                                </li>

                            </ul>
                        </div>
                    </div>

                </li>

                <!-- END: "group/components/header/adaptations/list" -->
                <!-- START: "group/components/header/adaptations/accordion" Array
(
[journey] => anonymous
)
-->
                <li class="js-navigation-item navigation__item navigation__item--right navigation__hide js-navigation-item-clickable navigation__item--clickable hide--lg">
                    <a href="#" class="js-navigation-link navigation__link navigation__link--icon navigation__link--icon-last navigation__link--menu">
        <span class="visually-hidden">
            <span class="navigation__accessibility">Close</span>Menu
        </span>
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  navigation__icon js-navigation-toggle navigation__toggle">
                            <use xlink:href="#icon-menu"/>
                        </svg>
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  navigation__icon js-navigation-close navigation__close">
                            <use xlink:href="#icon-close"/>
                        </svg>
                    </a>

                    <div class="js-navigation navigation navigation--tertiary">
                        <!-- START: "group/components/header/content/language" Array
                (
                    [journey] => anonymous
                )
                 -->
                        <div class="js-language language">
                            <a href="#" class="js-language-current language__current">
                                <span class="visually-hidden">menu</span>
                                <span class="js-language-chosen language__chosen">English</span>
                                <svg focusable="false" aria-hidden="true" class="icon  icon--small  js-location-icon-down language__icon language__icon--down">
                                    <use xlink:href="#icon-chevron-down"/>
                                </svg>
                                <svg focusable="false" aria-hidden="true" class="icon  icon--small  js-location-icon-up language__icon language__icon--up">
                                    <use xlink:href="#icon-chevron-up"/>
                                </svg>
                            </a>
                            <ul class="js-language-options language__options">
                                <li class="language__item">
                                    <a href="?language=English" class="js-language-option language__option">
                                        <span class="visually-hidden">menu item</span>
                                        <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                        English
                                    </a>
                                </li>
                                <li class="language__item">
                                    <a href="?language=Deutsch" class="js-language-option language__option">
                                        <span class="visually-hidden">menu item</span>
                                        <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                        Deutsch
                                    </a>
                                </li>
                                <li class="language__item">
                                    <a href="?language=Italiano" class="js-language-option language__option">
                                        <span class="visually-hidden">menu item</span>
                                        <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                        Italiano
                                    </a>
                                </li>
                                <li class="language__item">
                                    <a href="?language=Espa&#xF1;ol" class="js-language-option language__option">
                                        <span class="visually-hidden">menu item</span>
                                        <span class="language__selector">
                    <span class="js-language-circle language__circle "></span>
                </span>
                                        Espa&#xF1;ol
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- END: "group/components/header/content/language" -->

                        <ul class="js-accordion accordion navigation__accordion" data-js="_accordion">

                            <li class="js-navigation-item navigation__item navigation__item--tertiary hide--lg">

                                <a href="/shop" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                    <span class="chevron__text">Shop</span>

                                    <span class="chevron__container chevron__container--float">
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                    </span>
                                </a>

                                <div class="js-accordion-content accordion__content--collapse">
                                    <ul class="js-navigation navigation__list">
                                        <li class="navigation__item navigation__item--nested navigation__item--go-to">

                                            <a href="/shop" class="navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Go to Shop</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                </span>
                                            </a>

                                        </li>

                                        <li class="js-navigation-item navigation__item navigation__item--nested">

                                            <a href="#" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Build a bundle</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                                </span>
                                            </a>

                                            <div class="js-accordion-content accordion__content--collapse">
                                                <ul class="js-navigation navigation__list">

                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="#" class="js-navigation-link navigation__link navigation__link--nested">Vodafone ONE+</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/converged" class="js-navigation-link navigation__link navigation__link--nested">Vodafone ONE</a>

                                                    </li>

                                                </ul>
                                            </div>

                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">

                                            <a href="/broadband-tv" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">TV &amp; Broadband</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                                </span>
                                            </a>

                                            <div class="js-accordion-content accordion__content--collapse">
                                                <ul class="js-navigation navigation__list">

                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/broadband-tv" class="js-navigation-link navigation__link navigation__link--nested">TV &amp; Broadband</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/broadband" class="js-navigation-link navigation__link navigation__link--nested">Broadband only</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="#" class="js-navigation-link navigation__link navigation__link--nested">Broadband &amp; Homephone</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/network" class="js-navigation-link navigation__link navigation__link--nested">Coverage checker</a>

                                                    </li>

                                                </ul>
                                            </div>

                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">

                                            <a href="#" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Mobile</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                                </span>
                                            </a>

                                            <div class="js-accordion-content accordion__content--collapse">
                                                <ul class="js-navigation navigation__list">

                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/shop/devices" class="js-navigation-link navigation__link navigation__link--nested">Phones</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/shop/plans" class="js-navigation-link navigation__link navigation__link--nested">Plans &amp; SIMS</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/network" class="js-navigation-link navigation__link navigation__link--nested">Coverage checker</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="/vodafone-pass" class="js-navigation-link navigation__link navigation__link--nested">Vodafone pass</a>

                                                    </li>

                                                </ul>
                                            </div>

                                        </li>

                                    </ul>
                                </div>

                            </li>


                            <li class="js-navigation-item navigation__item navigation__item--tertiary hide--lg">

                                <a href="/help-and-support" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                    <span class="chevron__text">Help</span>

                                    <span class="chevron__container chevron__container--float">
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                    </span>
                                </a>

                                <div class="js-accordion-content accordion__content--collapse">
                                    <ul class="js-navigation navigation__list">
                                        <li class="navigation__item navigation__item--nested navigation__item--go-to">

                                            <a href="/help-and-support" class="navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Go to Help</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                </span>
                                            </a>

                                        </li>

                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="#" class="js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">TV &amp; Broadband</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="#" class="js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Mobile</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">

                                            <a href="#" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Bills &amp; accounts</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                                </span>
                                            </a>

                                            <div class="js-accordion-content accordion__content--collapse">
                                                <ul class="js-navigation navigation__list">

                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="#" class="js-navigation-link navigation__link navigation__link--nested">My Vodafone</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="#" class="js-navigation-link navigation__link navigation__link--nested">Usage control</a>

                                                    </li>


                                                    <li class="js-navigation-item navigation__item navigation__item--nested">

                                                        <a href="#" class="js-navigation-link navigation__link navigation__link--nested">Bills &amp; payments</a>

                                                    </li>

                                                </ul>
                                            </div>

                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="/contact-us" class="js-navigation-link navigation__link chevron chevron--inline">
                                                <span class="chevron__text">Contact us</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>

                                    </ul>
                                </div>

                            </li>


                            <li class="js-navigation-item navigation__item navigation__item--tertiary hide--lg">

                                <a href="/dashboard/passes" class="js-accordion-heading js-navigation-link navigation__link chevron chevron--inline">
                                    <span class="chevron__text">My Vodafone</span>

                                    <span class="chevron__container chevron__container--float">
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-down"/>
</svg>
                    </span>
                                </a>

                                <div class="js-accordion-content accordion__content--collapse">
                                    <ul class="js-navigation navigation__list">
                                        <li class="navigation__item navigation__item--nested navigation__item--go-to">

                                            <a href="http://localhost:8002/login-register?redirect=/dashboard/passes" class="navigation__link chevron chevron--inline" data-stamp="login-snack" data-js="_dialog">
                                                <span class="chevron__text">Go to My Vodafone</span>

                                                <span class="chevron__container chevron__container--float">
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                </span>
                                            </a>

                                        </li>

                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="http://localhost:8002/login-register?redirect=/bills" class="js-navigation-link navigation__link chevron chevron--inline" data-stamp="login-snack" data-js="_dialog">
                                                <span class="chevron__text">Usage &amp; bills</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="http://localhost:8002/login-register?redirect=/products-and-services" class="js-navigation-link navigation__link chevron chevron--inline" data-stamp="login-snack" data-js="_dialog">
                                                <span class="chevron__text">Products &amp; services</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="http://localhost:8002/login-register?redirect=#" class="js-navigation-link navigation__link chevron chevron--inline" data-stamp="login-snack" data-js="_dialog">
                                                <span class="chevron__text">Devices</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>


                                        <li class="js-navigation-item navigation__item navigation__item--nested">


                                            <a href="http://localhost:8002/login-register?redirect=#" class="js-navigation-link navigation__link chevron chevron--inline" data-stamp="login-snack" data-js="_dialog">
                                                <span class="chevron__text">Buy</span>

                                                <span class="chevron__container chevron__container--float">
                                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                                    </span>
                                            </a>


                                        </li>

                                    </ul>
                                </div>

                            </li>

                            <li class="js-navigation-item navigation__item navigation__item--tertiary
            navigation__item--site hide--lg">
                                <a href="http://localhost:8002/business" class="js-navigation-link navigation__link navigation__site chevron chevron--inline">
                                    <span class="chevron__text">Switch to Business</span>
                                    <span class="chevron__container chevron__container--float">
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon navigation__chevron">
    <use xlink:href="#icon-chevron-right"/>
</svg>
                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- END: "group/components/header/adaptations/accordion" -->
                <!-- START: "group/components/header/journeys/user/$journey" Array
(
[journey] => anonymous
)
-->

                <!-- END: "group/components/header/journeys/user/$journey" -->
                <li class="js-navigation-item navigation__item navigation__item--right navigation__hide">
                    <a id="search-trigger" href="#" class="js-navigation-link navigation__link navigation__link--icon" data-stamp="search-snack" data-js="_dialog">
                        <span class="visually-hidden">Search</span>
                        <svg focusable="false" aria-hidden="true" class="icon  icon--small  navigation__icon">
                            <use xlink:href="#icon-search"/>
                        </svg>
                    </a>
                </li>
                <!-- START: "group/components/header/journeys/basket/$journey" Array
(
[journey] => anonymous
)
-->
                <!-- END: "group/components/header/journeys/basket/$journey" -->
            </ul>
        </div>
    </div>
</nav>
<div id="dialog" class="js-dialog dialog">
    <div class="spring dialog__close-spring">
        <a id="search-close" href="#" class="js-dialog-close dialog__close " style="display: inline-block;">
            <svg focusable="false" aria-hidden="true" class="icon  icon--small  dialog__icon">
                <use xlink:href="#icon-close"></use>
            </svg>

            <span class="visually-hidden">Close dialog</span>
        </a>
    </div>
    <div class="js-dialog-content dialog__content" style="display: block;"><div id="ajax" class="ajax">
        <h2 class="heading heading--1 heading--light heading--center">Search</h2>
        <div class="search-snack">
            <div class="js-component-component component__component" data-component="form">
                <!-- START: "group/pages/search-snack/content/form" Array
(
[journey] => anonymous
)
-->
                <form action="http://localhost:8002/search" data-proxy="http://localhost:8002/sayt/proxy" data-js="_sayt, _validation" class="align-center space--bottom sayt validation form js-dynamic-content-listener" novalidate="novalidate">
                    <input type="hidden" name="lob" value="personal">
                    <input type="hidden" name="x1" value="search_category">
                    <div class="spring">
                        <div class="search-snack__input">
                            <div class="input-group">
                                <label for="search-snack-input"><span class="visually-hidden">Search on the website</span></label>
                                <input id="search-snack-input" class="input-group__input form__input form__text js-sayt-input" placeholder="Hello, how can we help you?" name="q" type="text" required="" autocomplete="off">
                                <button class="input-group__clear" type="reset">
                                    <span class="visually-hidden">Clear search query</span>
                                    <svg focusable="false" aria-hidden="true" class="icon  icon--small  input-group__clear-icon">
                                        <use xlink:href="#icon-close"></use>
                                    </svg>
                                </button>
                                <!-- START: "group/directives/button/adaptations/$adaptation" Array
                (
                    [adaptation] => primary
                )
                 -->
                                <button type="submit" name="" class="button button--primary  button--primary--dark  input-group__submit button--disabled" disabled="disabled">
                                    <span class="visually-hidden">Search</span>
                                    <svg focusable="false" aria-hidden="true" class="icon  chevron__icon input-group__submit-icon">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>

                                </button>
                                <!-- END: "group/directives/button/adaptations/$adaptation" -->
                            </div>
                        </div>
                        <div class="js-sayt-results"></div>
                        <div class="js-sayt-no-results">
                            <div class="section section--gutter">
                                <!-- START: "group/pages/search-snack/content/popular-tags" Array
                (
                    [journey] => anonymous
                )
                 -->
                                <div class="search-snack__popular">
                                    <h3 class="heading heading--3 heading--center heading--leading space--bottom search-snack__heading">Popular searches</h3>
                                    <nav class="search-snack__popular-tags">
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Roaming">Roaming</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Cherry%20points">Cherry points</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Device">Device</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Manufacturer">Manufacturer</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Device%20features">Device features</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Top%20up">Top up</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Subscription">Subscription</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=New">New</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Webtext">Webtext</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Free%20texts">Free texts</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Red">Red</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Phones">Phones</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Upgrade">Upgrade</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Broadband">Broadband</a>
                                        <a class="search-snack__popular-tag js-sayt-popular-tag" href="http://localhost:8002/search?x1=search_category&amp;q=Netflix">Netflix</a>
                                    </nav>
                                </div>
                                <!-- END: "group/pages/search-snack/content/popular-tags" -->
                            </div>
                        </div>
                    </div>

                    <!-- START: "group/pages/search-snack/templates/accessory" Array
                (
                    [journey] => anonymous
                )
                 -->

                    <!-- END: "group/pages/search-snack/templates/accessory" -->
                    <!-- START: "group/pages/search-snack/templates/category" Array
                (
                    [journey] => anonymous
                )
                 -->

                    <!-- END: "group/pages/search-snack/templates/category" -->
                    <!-- START: "group/pages/search-snack/templates/empty" Array
                (
                    [journey] => anonymous
                )
                 -->

                    <!-- END: "group/pages/search-snack/templates/empty" -->
                    <!-- START: "group/pages/search-snack/templates/help" Array
                (
                    [journey] => anonymous
                )
                 -->

                    <!-- END: "group/pages/search-snack/templates/help" -->
                    <!-- START: "group/pages/search-snack/templates/product" Array
                (
                    [journey] => anonymous
                )
                 -->

                    <!-- END: "group/pages/search-snack/templates/product" -->
                </form>
                <!-- END: "group/pages/search-snack/content/form" -->
            </div>
        </div>
    </div></div>
</div>

<script>
    $("#search-trigger").on("click", function(){
        $('.js-dialog').addClass('js-dialog-display dialog--display dialog--scrollable');
    });

    $("#search-close").on("click", function(){
        $('.js-dialog').removeClass('js-dialog-display dialog--display dialog--scrollable');
    });

</script>

{% endmacro %}
