@import "./variables";

.listing .filter-header,
.listing .filter-link {
  font-family: VodafoneRegular;
  color: $color-dove-gray;
}

.listing .filter-link {
  font-size: 14px;
}

.listing .listing-dropdown {
  z-index: 10;
}

.listing-items {
  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .content {
    @include media-breakpoint-down(md) {
      padding: 0;

      .listing-items-row {
        display: none;
      }

      .listing-items-grid {
        display: flex;
      }
    }

    padding: 0 55px;
  }
}

.listing-items-row,
.listing-items-grid {
  display: none;
}

.listing-grid-list {
  .listing-items-row {
    display: none;
  }

  .listing-items-grid {
    display: flex;
  }
}

.listing-show-list {
  .listing-items-row {
    display: block;
  }

  .listing-items-grid {
    display: none;
  }
}

.listing-items-grid {
  .grid-item-card-container {
    padding: 0 10px;

    @include media-breakpoint-down(lg) {
      .button {
        padding: 8px 18px;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .list-item-card {
    height: auto;
    margin: 10px 0;

    .item-card-header {
      margin-bottom: 12px;
    }

    img {
      max-height: 72px;
    }
  }
}

.list-item-card {
  background: $color-light-grey;
  box-shadow: 0 2px 5px 0 rgba($color-black, 0.15);
  border-radius: 6px;
  margin: 20px 0;
  padding: 15px;

  .listing-title {
    word-break: break-word;
  }

  .listing-description {
    @extend .hide-text-overflow;
    max-height: 69px;
  }

  .listing-formatted-price {
    line-height: 42px;
  }

  .listing-title,
  .listing-description,
  .listing-started-at,
  .listing-formatted-price,
  .listing-frequency-label {
    color: $color-grey;
  }
}