.product-summary {
  background-color: transparent;
  padding: 20px 120px;

  @include media-breakpoint-down(md) {
    padding: 20px 0;

    a {
      display: unset;
      width: unset;
      margin-bottom: 0;
    }
  }

  .product-summary-title, .product-summary-detail {
    color: $white;
  }

  img {
    max-height: 87px;
  }
}

.profile-page .tabs {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.profile-overview {
  max-width: 768px !important;
}

.profile-overview__call-to-actions {
  @include media-breakpoint-down(sm) {
    max-width: 240px;
    margin: 0 auto;

    .button {
      width: 100%;
    }
  }
}
