{% extends "/layout/profile.html" %}

{% set supportData = application.support %}
{% set localI18n = application.support.i18n %}

{% block data %}
    <data type="application-additional-content" value="recommendations">
{% endblock %}

{% block contentSection %}
    <div class="layout-content__column">
        {% if supportData.termsUrl or supportData.privacyUrl %}
            <h2>{{ localI18n.termsAndConditions }}</h2>
            <dl class="description-list">
                {% if supportData.termsUrl %}
                    <dt>{{ localI18n.termsUrl }}</dt>
                    <dd><a href="{{ supportData.termsUrl }}" target="_blank">{{ supportData.termsUrl }}</a></dd>
                {% endif %}
                {% if supportData.privacyUrl %}
                    <dt>{{ localI18n.privacyUrl }}:</dt>
                    <dd><a href="{{ supportData.privacyUrl }}" target="_blank">{{ supportData.privacyUrl }}</a></dd>
                {% endif %}
            </dl>
        {% endif %}
        {% if supportData.email or supportData.knowledgebaseUrl or supportData.description or supportData.phone %}
            <h2>{{ localI18n.support }}</h2>
            <dl class="description-list">
               {% if supportData.email %}
                    <dt>{{ localI18n.email }}:</dt>
                    <dd data-truncate="line"><a href="mailto:{{ supportData.email }}" target="_self">{{ supportData.email }}</a></dd>
                {% endif %}
                {% if supportData.knowledgebaseUrl %}
                    <dt>{{ localI18n.knowledgebaseUrl }}:</dt>
                    <dd data-truncate="line"><a href="{{ supportData.knowledgebaseUrl }}" target="_blank">{{ supportData.knowledgebaseUrl }}</a></dd>
                {% endif %}
                {% if supportData.description %}
                    <dt>{{ localI18n.description }}:</dt>
                    <dd>{{ supportData.description | safe }}</dd>
                {% endif %}
                {% if supportData.phone %}
                    <dt>{{ localI18n.phone }}:</dt>
                    <dd>{{ supportData.phone }}</dd>
                {% endif %}
            </dl>
        {% endif %}
    </div>
{% endblock %}
