{% macro carouselList(popularapps, listTitle) %}
<div class="spring">
    <h3 class="heading heading--3 heading--center heading--leading">
        {{ listTitle }}
    </h3>
    <div class="grid no-gutter--all">

        <div class="grid__item grid__item--gutter grid__item--gutter-vertical grid__item--1/3 grid__item--sm-1/1 grid__item--md-1/1 ">
            <a href="/en-US/apps/107199/" class="segmentation__item flush--all">
                <div class="aspect-height aspect-height--1/2">
                    <div class="aspect-height__content flush--all">
                        <img src="https://d33na3ni6eqf5j.cloudfront.net/app_resources/122611/overview/img5530470440095494063.png" alt="Broadband. Hurry! Offer ends in two days" class="">
                    </div>
                </div>
                <div class="segmentation__content">
                    <div class="js-segmentation-equal-rows-content" style="height: 244px;">
                        <div class="js-segmentation-equal-rows-inner">
                            <h3 class="heading heading--3 heading--leading lead-title-home">


                            <span class="chevron  chevron--inline ">
    <span class="chevron__text ">
        Microsoft Office 365
    </span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--red">
    <use xlink:href="#icon-chevron-right"></use>
</svg>
    </span>
</span>
                            </h3>
                            <p class="no-gutter--bottom">
                                Our complete, intelligent collaboration solution that empowers people to work together more effectively and efficiently.
                            </p>
                            <!-- START: "group/directives/button/adaptations/$adaptation" Array
    (
        [adaptation] => secondary
    )
     -->
                            <!-- END: "group/directives/button/adaptations/$adaptation" -->
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="grid__item grid__item--gutter grid__item--gutter-vertical grid__item--1/3 grid__item--sm-1/1 grid__item--md-1/1 ">
            <a href="/en-US/apps/119532/" class="segmentation__item flush--all">
                <div class="aspect-height aspect-height--1/2">
                    <div class="aspect-height__content align--center text-center">
                        <img src="https://d33na3ni6eqf5j.cloudfront.net/app_resources/119532/overview/img4344376198827463044.png" alt="Broadband. Hurry! Offer ends in two days" class="">
                    </div>
                </div>
                <div class="segmentation__content">
                    <div class="js-segmentation-equal-rows-content" style="height: 244px;">
                        <div class="js-segmentation-equal-rows-inner">
                            <h3 class="heading heading--3 heading--leading">
                            <span class="chevron  chevron--inline ">
    <span class="chevron__text ">
        G Suite
    </span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--red">
    <use xlink:href="#icon-chevron-right"></use>
</svg>
    </span>
</span>
                            </h3>
                            <p class="no-gutter--bottom">
                                G Suite offered by Vodafone is a complete collaboration solution that enables your business to communicate, collaborate and work more efficiently.
                            </p>
                            <!-- START: "group/directives/button/adaptations/$adaptation" Array
    (
        [adaptation] => secondary
    )
     -->
                            <!-- END: "group/directives/button/adaptations/$adaptation" -->
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="grid__item grid__item--gutter grid__item--gutter-vertical grid__item--1/3 grid__item--sm-1/1 grid__item--md-1/1 ">
            <a href="/en-US/apps/119627/" class="segmentation__item flush--all">
                <div class="aspect-height aspect-height--1/2">
                    <div class="aspect-height__content align--center text-center">
                        <img src="https://d33na3ni6eqf5j.cloudfront.net/app_resources/customizations/VFGROUP/81984/overview/img8784757783650581460.png?0e7838abbbeb5548e9674821d67dfe9e " alt="Broadband. Hurry! Offer ends in two days" class="">
                    </div>
                </div>
                <div class="segmentation__content">
                    <div class="js-segmentation-equal-rows-content" style="height: 244px;">
                        <div class="js-segmentation-equal-rows-inner">
                            <h3 class="heading heading--3 heading--leading">
                            <span class="chevron  chevron--inline ">
    <span class="chevron__text ">
        SkyKick
    </span>
    <span class="chevron__container">
        <svg focusable="false" aria-hidden="true" class="icon  icon--small  chevron__icon chevron__icon--red">
    <use xlink:href="#icon-chevron-right"></use>
</svg>
    </span>
</span>
                            </h3>
                            <p class="no-gutter--bottom">
                                From your basic email, calendar and contacts data to email signature blocks, rules and calendar permissions, they ’ll make transitioning your data from the Microsoft Exchange Server to Outlook 365 easy and low-risk.
                            </p>
                            <!-- START: "group/directives/button/adaptations/$adaptation" Array
    (
        [adaptation] => secondary
    )
     -->
                            <!-- END: "group/directives/button/adaptations/$adaptation" -->
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
    <br>
    <div class="center w-100 align--center">
        <a target="_blank" href="#" class="button button--primary  button--primary--dark  no-gutter--all align--center">
            View category
        </a>
    </div>
    </div>
</div>

{% endmacro %}
