---
layout: default.hbs
title: Assistance | Office365 | Vodafone UK
utag_data:
    page_name: uk>business>app direct>contact us
    page_type: support
---

{{> header}}

<div>
    <div class="hero">
        <div class="background background--cover">
            <div class="background__image" style="background-image: url({{ asset '/images/vf-2019-Business-Micro-close-up-screen-pen-hand-RGB.jpg' }})"></div>
        </div>
        <div class="hero__band">
            <div class="hero__message">
                <h1 class="heading heading--1 heading--light heading--leading hero__heading">
                    Do you need assistance?
                </h1>
            </div>
        </div>
    </div>

    <div class="section section--wild-sand">
        <div class="spring">
            <section  class="card">
                <div class="card__content align--center">
                    <svg role="image" class="icon icon--extra-large"><use xlink:href="#icon-call"></use></svg>
                    <p>Call to get the best deal from us!</p>
                    <div class="options">
                        <a href="tel:+448080057333" class="button button--primary gutter--top">
                            <svg role="image" class="icon icon--small"><use xlink:href="#icon-call"></use></svg>
                            <span class="visually-hidden">Call</span>&nbsp;+44&nbsp;(0)8080&nbsp;057333
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{{> footer}}
