---
layout: default.hbs
title: Error | Office365 | Vodafone UK
utag_data:
    page_name: uk>business>app direct>error
    page_type: error page
---

{{> header}}

<div>
    <div class="section section--wild-sand">
        <div class="spring">
            <section  class="card">
                <div class="card__content align--center">
                    <h1 class="heading heading--3 heading--center heading--leading">
                        Oh no!
                    </h1>
                    <svg role="image" class="icon icon--extra-large"><use xlink:href="#icon-warning"></use></svg>
                    <p>We couldn’t take your order. Please call +44&nbsp;(0)8080&nbsp;057333.</p>
                    <a
                        href="tel:+448080057333"
                        class="button button--primary gutter--top"
                    >
                        Call
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>

{{> footer}}
