@import "../../../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/css/custom/variables";

.adb-page_footer {
  padding: 0;
}

.custom-footer {
  width: 100%;
}

.footer__curtain {
  background-color: #333;
}

.footer {
  color: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 4;
  width: 100%;
}

.footer__logo {
  height: 50px;
  margin-bottom: 32px;
}

.footer__links {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 32px;
  font-family: "VodafoneLight", Arial, sans-serif;
  // display: flex;
  list-style: none;
  padding-left: 0;
  float: none !important;
  line-height: 1;
}

.footer__link {
  font-size: 20px;
  line-height: 1;
  display: inline-block;
  letter-spacing: normal;
  margin: 0;
  vertical-align: top;

  a {
    color: $color-wild-sand;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.footer__link {
  &:not(&--last) {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 2px solid;
  }
}

.footer__aside {
  font-size: 20px;
  margin-top: 40px;
}

.footer__aside::after,
.footer__aside::before {
  content: " ";
  display: table;
}

.footer__aside::after {
  clear: both;
}

.footer__copyright {
  font-family: "VodafoneLight", Arial, sans-serif;
  line-height: 1.5;
}

.footer__curtain {
  padding: 65px;
  @include media-breakpoint-down(md) {
    padding: 30px !important;
  }
}

@media (max-width: 991.98px) {
  .footer__aside {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__links {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .footer__link {
    width: 100%;
    font-size: 18px;
  }

  .footer__link {
    &:not(&--last) {
      padding-right: 0;
      margin-right: 0;
      border-right: none;
      margin-bottom: 14px;
    }
  }
}

@media (max-width: 575.98px) {
  .footer__aside {
    margin-top: 20px;
  }

  .footer__copyright {
    clear: left;
    display: block;
    float: none;
  }
}

.footer {
  padding: 0;
  font-family: "VodafoneLight", Arial, sans-serif !important;
}

#logocol {
  width: 72%;
  @include media-breakpoint-down(md) {
      width: 100%;
      margin-left: 0px;
    }
}

#socialcol {
  width: 24%;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-top: 25px;
    margin-left: -10px;
  }
}

#socialcol {
  a {
    padding: 0 !important;
    margin: 0 !important;
  }
}
