{% from "/macros/sliders/hero-carousel-item.html" import heroCarouselItem with context %}
{% from "/macros/sliders/profile-carousel-item.html" import profileCarouselItem %}
{% from "/macros/sliders/list-carousel.html" import listCarousel with context %}


{% macro carousel(id='carousel', products={}, list=[], itemTheme='hero', showTitle=false, showIndicators=true, showViewMore=false, viewType='desktop', sliceCount=1, greyBg=false, widerControls=false, title='') %}
<div class="container">
    <div id="{{id}}"
         class="carousel slide {{'high-height' if showViewMore}} {{'high-height-image' if itemTheme === 'profile'}} {{'low-height' if itemTheme === 'logo'}} {{'grey-bg' if greyBg}} {{'wider-controls' if widerControls}}"
         data-ride="carousel">
        {% if showTitle %}
        {% if title %}
        <h3 class="text-center heading heading--3 heading--center heading--leading">{{title}}</h3>
        {% else %}
        <h3 class="text-center heading heading--3 heading--center heading--leading">{{products.name}}</h3>
        {% endif %}
        {% endif %}

        {% if showIndicators %}
        <ol class="carousel-indicators">
            {% for product in list %}
            <li class="carousel-indicator-item {{'active' if loop.first}}" data-target="#{{id}}"
                data-slide-to="{{loop.index-1}}"></li>
            {% endfor %}
        </ol>
        {% endif %}

        <div class="carousel-inner">
            {% if itemTheme === 'hero' %}
            <div>
                {% for product in list %}
                <div class="carousel-item {{'active' if loop.first}}">
                    {{heroCarouselItem(product)}}
                </div>
                {% endfor %}
            </div>
            {% elif itemTheme === 'list' %}
            {{listCarousel(products, list, viewType)}}
            {% elif itemTheme === 'logo' %}
            <div>
                {% if viewType === 'mobile' %}
                {{listCarousel(products, list, itemTheme, sliceCount)}}
                {% elif viewType === 'desktop' %}
                {{listCarousel(products, list, itemTheme, sliceCount)}}
                {% endif %}
            </div>
            {% elif itemTheme === 'profile' %}
            <div>
                {% for product in list %}
                <div class="carousel-item {{'active' if loop.first}}">
                    {{profileCarouselItem(product)}}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if list.length > sliceCount %}
            <button class=" carousel-control-prev d-none d-lg-flex" href="#{{id}}" data-slide="prev">
                <div class="carousel-control-icon-container">
                    <svg focusable="false" aria-hidden="true"
                         class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron svg-icon">
                        <use xlink:href="#icon-chevron-left"/>
                    </svg>
                </div>
            </button>
            <button class="carousel-control-next d-none d-lg-flex" href="#{{id}}" data-slide="next">
                <div class="carousel-control-icon-container">
                    <svg focusable="false" aria-hidden="true"
                         class="icon  icon--small  chevron__icon accordion__chevron navigation__chevron svg-icon">
                        <use xlink:href="#icon-chevron-left"/>
                    </svg>
                </div>
            </button>
            {% endif %}
        </div>

        {% if showViewMore %}
        <div class="text-center carousel-view-all">
            <a href="{{products.url}}" role="button" class="button button--primary">
                {{t(i18n.custom.home.view_more)}}
            </a>
        </div>
        {% endif %}

    </div>
</div>
<script>
    var truncateOptions = {
        truncate: "node",
        after: ".more"
    };
    $(".carousel-item-title").dotdotdot(truncateOptions);
    $(".carousel-item-overview").dotdotdot(truncateOptions);
    $(".carousel-item-description").dotdotdot(truncateOptions);
</script>
{% endmacro %}
